.container{
  width:100vw;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: var(--font);
  font-size: 30px;
  margin-top: 20px;
  font-weight: bold;
  .h1 {
    display: block;
    font-size: 5em;
    margin:0px;
  }
}

.polaroid_list{ 
  width:80%;
  display: grid;
  grid-template-columns: repeat(2, minmax(400px, 1fr));
  grid-gap:20px;

  .polaroid_outer {
      background: #fff;
      padding: 1rem;
      box-shadow: 0 0.2rem 1.2rem rgba(0,0,0,0.2);

    img {
      max-width: 100%;
      position: relative;
    }
    
    .polaroid_inner {
      background: #fff;
      padding: 1rem;
      box-shadow: 0 0.2rem 1.2rem rgba(0,0,0,0.2);
    }
  }

  .polaroid_caption {
    font-size: 4rem;
    text-align: center;
    line-height: 2em;
  }
}

@media screen and (max-width: 1090px){
    .polaroid_list{
        grid-template-columns: 1fr;
        width:100%;
    }
}


.polaroid_outer .polaroid_inner:before {
  content: '';
  position: absolute;
  z-index: -1;
  transition: all 0.35s;
  height: 20%;
  width: 40%;
  bottom: 30px;
  right: 12px;
  box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.4);
}

.polaroid_outer:nth-of-type(odd) {
  transform: scale(0.8, 0.8) rotate(5deg);
  transition: all 0.35s;
}

.polaroid_outer:nth-of-type(even) {
  transform: scale(0.8, 0.8) rotate(-5deg);
  transition: all 0.35s;
}

.polaroid_outer:nth-of-type(odd) .polaroid_inner:before {
  transform: rotate(6deg);
}
.polaroid_outer:nth-of-type(even) .polaroid_inner:before {
  transform: rotate(-6deg);
}

.polaroid_outer:hover {
  filter: none;
  transform: scale(1, 1) rotate(0deg) !important;
  transition: all 0.35s;
}

.polaroid_outer:hover .polaroid_inner:before {
  content: '';
  position: absolute;
  z-index: -1;
  transform: rotate(0deg);
  height: 80%;
  width: 80%;
  bottom: 0%;
  right: 4%;
  box-shadow: 0 1rem 3rem rgba(0,0,0,0.2);
  transition: all 0.35s;
}
